td{
    color:rgb(0, 0, 0);
}
table{
    border:double;

}
.flex-container {
    display: flex;
    align-content:flex-end;
}
.c1{
    margin-top: 20px; 
    align-items: center;
}
.t1{
    width: auto;
    padding: 4px;
    border-spacing: 10px;
    border-width: 08px;
    border-radius: 12px;
    background : url(img7.jpg); 
    border-color: magenta;
    margin-top: 10px; 
    margin-left: 375px;
}
.b1{
    background-size: cover;
}
.td1{
    color: rgb(255, 0, 0);
    text-size-adjust: inherit;
}