<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="Angular_1.js"></script>
    <link rel="stylesheet" href="angular_1.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <title>Document</title>
</head>

<body background="grocery.jpg" class="b1">
    <marquee behavior="loop" direction="left" , bgcolor="red">
        <h2> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ <b>Welcome To Happy_Mart</b>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2></marquee>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div>
            <center class="c1">
                <h1>
                    <center>Welcome to Happy_Mart</center>
                </h1>
            </center>
        </div>
        
            <div class="flex-container", >
                <table border="5px" class="t1"cellpadding="16">
                    <th>
                    <td> <b> Name</b></td>
                    <td> <b> Price</b></td>
                    <td> <b> Quantity</b></td>
                    <td> <b> Amount</b></td>
                    </th>
                    <tr ng-repeat="item in xlist">
                        <td> <b> {{item.id}}</b></td>
                        <td> <b> {{item.name}}</b></td>
                        <td> <b> {{item.price}}</b></td>
                        <td><button ng-click="dec(item)">-</button> <button
                                ng-click="show(item)">{{item.quantity}}</button><button ng-click="inc(item)">+</button>
                        </td>
                        <td>
                            {{item.price*item.quantity}}</td>
                    </tr>
                    <tr>
                        <td class="td1", colspan="4"><b> Total</b></td>

                        <td><b>{{gtotal}}</b></td>
                    </tr>
                </table>
                <div></div>

                
                </table>
            </div>
        <p>Pay {{gtotal}} right now!!</p>
    </div>
</body>

</html>